---
title: animations
---
{% include header.html %}

<div class="content-holder">
    <div class="content">
        <h1>ANIMATIONS</h1>
            {% for item in site.data.animations %}
                <div id={{ item.id }}>
                <p style="font-size: 15pt;">{{ item.description }}</p>
                {% if forloop.index == 1 %}
                    <div style="margin-top: 1%; margin-bottom: 5%;">
                {% elsif forloop.index == forloop.length %}
                    <div style="margin-top: 5%;">
                {% else %}
                    <div style="margin-top: 5%; margin-bottom: 5%;">
                {% endif %}
                    {% include {{ item.embed }} %}
                    </div>
                </div>
            {% endfor %}
    </div>
</div>

{% include footer.html %}