---
title: High Tech Fortune Teller | KTCG Art
description: book Indigo Coiyle, high tech palm reader, for psychic entertainment at parties and events
permalink: booking
layout: null
---
{% include header.html %}
{% include title-bar.html %}
{% include navigation-bar.html %}
<div class="bm-background">
  <div class="bm-page-content">
    <div class="bm-page" style="border-width: 10px 10px 10px 10px;">
        <div class="bm-subtitle" id="land">
        <div class="captioned-image" style="min-width: 200pt; margin-top:0">
            <img alt="readings banner" src="/assets/readings/readings_banner.jpg" />

        </div>             
        </div>
        <!-- <div class="bm-subtitle">
        <p style="color: white; padding: 1%; font-size: 1em;">TECH-AUGMENTED INTUITIVE READINGS</p>          
        </div> -->
        <div class="bm-acts" id="materials" style="margin-bottom: 0;">
            <div class="bm-act-holder" style="aspect-ratio: 9/16;">
                <div class="captioned-image" style="min-width: 200pt; margin-top:0;">
                    <img alt="event palm reader" src="/assets/readings/example03.jpg" />
                </div>
                <div class="captioned-image" style="min-width: 200pt; margin-top:0;">
                    <img alt="event palm reader" src="/assets/readings/example01.jpg" />
                </div>
                <div class="captioned-image" style="min-width: 200pt; margin-top:0;">
                    <img alt="event palm reader" src="/assets/readings/example02.jpg" />
                </div>
            </div>
            <div class="bm-act-holder">
                <div class="captioned-image" style="min-width: 200pt; margin-top:0;">
                    <iframe src="https://www.youtube.com/embed/GCB8I-FlqTA" style="width: 100%;aspect-ratio: 9/16;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen>
                </div>
                </iframe>
            </div>
        </div>
    </div>
        <p style="text-align:center; color:white">View additional images and videos on <a href="https://www.instagram.com/bugmuthur/" style="color: lime !important">Instagram</a>.</p>
        <div class="bm-page-section-2">
            <div class="bm-misc" id="shop">
        <div class="bm-buttons">
            <a class="bm-button" href="https://www.gigsalad.com/high_tech_palm_reader_inglewood">
                <p>BOOK VIA Gigsalad</p>
            </a> 
        </div>
        <div class="bm-buttons">
            <a class="bm-button" href="https://www.thebash.com/palm-reader/high-tech-palm-reader">
                <p>BOOK VIA The Bash</p>
            </a> 
        </div>
        </div>
        </div>
        <p style="text-align:center; color:white">You can also submit booking inquiries by emailing <a href="mailto:indigo@ktcg.art?subject=booking inquiry" style="color: lime !important">indigo@ktcg.art</a>.</p>

    <div class="bm-subtitle">
        <h2 style="text-align:center; color:white">Upcoming Vendor Events:</h2>
    </div>
    <div class="bm-subtitle" style="display: flex; align-items: flex-start; flex-wrap: wrap;">        <!-- <p>Divination belongs in public life. Upcoming public events:</p> -->
        {% for item in site.data.upcoming %}
        <h3 style="text-align:center; color:white; padding:3%">{{ item.date }}:<br><a href={{item.link}} style="color: lime !important">{{ item.name }}</a></h3>
        {% endfor %}
    </div>
    <div class="bm-subtitle"><br></div>
    <!-- <div class="bm-subtitle">
        <p style="text-align:center; color:white">High-tech palm readings combine live, immersive art with intuitive entertainment. Indigo Coiyle reads clients in a variety of environments (company, market, nightlife). She began studying palmistry in 2023 and custom-built her live visualizer. Contact via <a href="mailto:indigo@ktcg.art" style="color: lime !important">indigo@ktcg.art</a>.</p>
    </div> -->

        <div class="bm-subtitle">
        <!-- <h1>high tech medium</h1><h1>+</h1><h1>magic moving drawings</h1>  -->
        <!-- <h1>Promo Materials</h1> -->
        </div>
            <div class="captioned-image" style="min-width: 200pt; margin-top:0; max-width: 600px;">
                <img alt="event palm reader" src="/assets/readings/headshot.jpg" />
                <p style="text-align:center; color:white">High-res (300 DPI 1600x1920) version available upon request</p>
                <p style="text-align:center; color:white">High-tech palm readings combine live, immersive art with intuitive entertainment. Indigo Coiyle reads clients in a variety of environments (company, market, nightlife). She began studying palmistry in 2023 and custom-built her live visualizer. Contact via <a href="mailto:indigo@ktcg.art" style="color: lime !important">indigo@ktcg.art</a>.</p>
            </div>
            <div class="captioned-image" style="min-width: 200pt; margin-top:0; max-width: 600px;">
                <img alt="event palm reader" src="/assets/readings/promo_photo01.jpg" />
            </div>
            <div class="captioned-image" style="min-width: 200pt; margin-top:0; max-width: 600px;">
                <img alt="event palm reader" src="/assets/readings/promo_photo02.jpg" />
                <p style="text-align:center; color:white">High-res (300 DPI 1350x1080) versions available upon request</p>
            </div>
            <!-- <div class="bm-subtitle">
        <h1>Event Entertainment Booking Form</h1>
    </div>
    <div id="formkeep-embed" data-formkeep-url="https://formkeep.com/p/4eb4eb45c2769d4aae876bb80d662ef0?embedded=1"></div>
  </div> -->
</div>

<script type="text/javascript" src="https://pym.nprapps.org/pym.v1.min.js"></script>
<script type="text/javascript" src="https://cdn.formkeep.com/formkeep-embed.js"></script>

<!-- Get notified when the form is submitted, add your own code below: -->
<script>
const formkeepEmbed = document.querySelector('#formkeep-embed')

formkeepEmbed.addEventListener('formkeep-embed:submitting', _event => {
  console.log('Submitting form...')
})

formkeepEmbed.addEventListener('formkeep-embed:submitted', _event => {
  console.log('Submitted form...')
})
</script>

{% include footer.html %}
