---
title: KTCG Art | CATALOGUE
description: Bugmuthur's Repository
permalink: catalog
layout: null
---
{% include header.html %}
{% include title-bar.html %}
<div class="page-content">
    <div class="page-section-1" id="preview">
    <div class="section">
      <div class="section-left"></div>
      <div class="section-middle">
          <p>UPCOMING</p>
      </div>
      <div class="section-right">
      <div class="section-right">
      </div>

      </div>
    </div>
    <div class="shop-container">
      <div  style="padding: 1%; padding-top: 1%; font-size: 1.1em;">
      <p>Preview a selection of the artwork in the next shop release.</p>
      </div>
        <div class="shop-regular">
        <div class = "shop-flex-container" style="height: 540px;">
          {% for post in site.posts %}
          {% if post.type == "background" or post.type == "prop"  or post.type == "concept" %}
          {% if post.sold-out == "P" %}
                <div class="shop-regular-holder">
                  <a href="{{ post.permalink }}#land">
                    <div class='shop-regular-labeled-image'>
                      <img alt="square screenshot for blog post" src="{{ post.cover-image }}" />
                    </div>
                  </a>
                  <div class="product-name">{{post.shortname}}</div>
                          </div>
                {% endif %}
          {% endif %}
          {% endfor %}
          <!--  if  site.posts.size | module: 2  != 0 
          <div class="regular-holder-dummy">
              <div class='regular-labeled-image'>
                <img src="/img/dummy.png" />
              </div>
          </div>
           endif  -->

        </div>
    </div>
    </div>
    </div>

    <div class="page-section-1" id="art">
    <div class="section">
      <div class="section-left"></div>
      <div class="section-middle">
          <p>BACK CATALOG</p>
      </div>
      <div class="section-right">
      <div class="section-right">
            <div class="shop-section-right-caption">
                        <a href="/riddle#land">
              <p>You might get some ideas!!</p>
                        </a>
            </div>
      </div>

      </div>
    </div>
    <div class="shop-container">
      <div  style="padding: 1%; padding-top: 1%; font-size: 1.1em;">
      <p>Peruse unavailable artwork.</p>
      </div>
        <div class="shop-regular">
        <div class = "shop-flex-container" style="height: 540px;">
          {% for post in site.posts %}
          {% if post.type == "background" or post.type == "prop" %}
          {% if post.sold-out == "True" %}
                <div class="shop-regular-holder">
                  <a href="{{ post.permalink }}#land">
                    <div class='shop-regular-labeled-image'>
                      <img alt="square screenshot for blog post" src="{{ post.cover-image }}" />
                    </div>
                  </a>
                  <div class="product-name">{{post.shortname}}</div>
                          </div>
                {% endif %}
          {% endif %}
          {% endfor %}
          <!--  if  site.posts.size | module: 2  != 0 
          <div class="regular-holder-dummy">
              <div class='regular-labeled-image'>
                <img src="/img/dummy.png" />
              </div>
          </div>
           endif  -->

        </div>
    </div>
    </div>
    </div>

  <div class="page-section-2">
        <div class="misc">
      <!-- <div class="skills">
        <div class="section">
          <div class="section-left"></div>
          <div class="small-section-middle">
            <a href="drawing.html">
              <p>DRAWINGS</p>
            </a>
          </div>
          <div class="section-right"></div>
        </div>
        <div class="d">
          <a href="drawing.html">
            <div class="d-holder">
              <img alt="a drawing of a statue" src="/img/drawings/converted_files/drawing_cover02.jpg">
            </div>
          </a>
        </div>
        <div class = "bottom-content">
          <div class="bottom"></div>
        </div>
      </div> -->
      <div class="buttons">
        <div class="about">
          <a class="button" href="/rates.html#art">
            <p>COMMISSION</p>
          </a> 
        </div>
      </div>
    </div>
  </div>
</div>
{% include footer.html %}