---
title: KTCG ART | Email Sign-Up
description: dlist
permalink: dlist
layout: null
---
{% include header.html %}
{% include title-bar.html %}
<div id="formkeep-embed" data-formkeep-url="https://formkeep.com/p/7bacf1efc37646decf54f960e872499d?embedded=1"></div>

<script type="text/javascript" src="https://pym.nprapps.org/pym.v1.min.js"></script>
<script type="text/javascript" src="https://cdn.formkeep.com/formkeep-embed.js"></script>

<!-- Get notified when the form is submitted, add your own code below: -->
<script>
const formkeepEmbed = document.querySelector('#formkeep-embed')

formkeepEmbed.addEventListener('formkeep-embed:submitting', _event => {
  console.log('Submitting form...')
})

formkeepEmbed.addEventListener('formkeep-embed:submitted', _event => {
  console.log('Submitted form...')
})
</script>
{% include footer.html %}