---
title: High Tech Fortune Teller and Animation | KTCG Art
description: KTCG Art offers high tech fortune telling by Indigo Coiyle and animation by Katie Tender
permalink: 
layout: null
---
{% include header.html %}
{% include title-bar.html %}
{% include navigation-bar.html %}
<div class="page-content">
  <br>
  <!-- <a href="/bugmuthurs_repository/" style="text-decoration-color: black; text-decoration-style: double;">
  <div class="bm">
    THIS WAY TO BUGMUTHUR'S REPOSITORY
  </div>
  </a> -->
  <div class="page-section-2">
    <div class="vertical-container">
    {% include embed-sideshow-button.html %}
      </div>
    <div class="reel" id="reel">
      <div class="section">
        <div class="section-left"></div>
        <div class="section-middle" style="min-width:100pt">
          <a href="cg-projects#reels">
            <p>REEL</p>
          </a>
        </div>
        <div class="dither-section-right">
            <div class="section-right-caption">
                        <a href="cg-projects#reel-breakdown">
              <p>BREAKDOWN</p>
                        </a>
            </div>
          </a>
        </div>
      </div>
      <div class = "reel-container">
        <iframe src="https://www.youtube.com/embed/QRKwyPqZ1YA?si=A3SKXHj7RdtACnSo" style="width: 100%;aspect-ratio: 16/9;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen>
      </iframe>
      <!-- <div class="reel-caption">
        <a href="cg-projects#reel">
        <p style="text-align: center; padding: 0%; margin: 0%; text">breakdown</p>
        </a>
      </div> -->
      </div>
      
      <div class = "bottom-content">
        <div class="bottom"></div>
      </div>
    </div>

  </div>
  <div class="page-section-2">
        <div class="misc">
      <div class="buttons">
        <div class="about">
          <a class="button" href="rates.html#land">
            <p>HIRE</p>
          </a> 
        </div>
      </div>
      <div class="buttons">
        <div class="about">
          <a class="button" href="about.html#land">
            <p>ABOUT</p>
          </a> 
        </div>
      </div>
    </div>
  </div>
  <div class="projects-container">

    <div class="animation">
      <div class="section">
        <div class="section-left"></div>
        <div class="section-middle">
          <a href="cg-projects#land">
            <p>ANIMATIONS</p>
          </a>
        </div>
        <div class="section-right"></div>
      </div>
      <div class = "animation-container">
        {% for item in site.data.animations %}
          {% if item.id != "reels" %}
          <div class = "animation-holder">
            <a href="/cg-projects#{{ item.id }}">
            <div class = "animation-labeled-image">
              <img alt="the cover images for an animation project" src="{{ item.cover-image }}">
              <div class="animation-text">
                <h3>{{ item.name }}</h3>
              </div>
            </div>
            </a>
          </div>
          {% endif %}
        {% endfor %}
        {% assign remainder = site.data.animations.size | modulo: 2 %}
        {% if remainder != 1 %}
        <div class="animation-holder">
            <div class='animation-labeled-image'  style="background-image: url('/assets/css/style_img/bg_seamless_dither.png'); background-size: 2.5em; filter: invert();">
              <img src="/img/dummy_hd.png" />
            </div>
        </div>
        {% endif %}
      </div>
      <div class = "bottom-content">
        <div class="bottom"></div>
      </div>
    </div>

  <div class="technical-blog">
    <div class="section">
      <div class="section-left"></div>
      <div class="section-middle">
        <a href="technical-blog.html#land">
          <p>TECHNICAL BLOG</p>
        </a>
      </div>
      <div class="section-right"></div>
    </div>
    <div class="blog-container">
        <div class = "featured">
          <div class = "featured-container">
              {% for post in site.posts %}
                {% if post.featured == "T" %}
                  <div class="featured-post">
                    <a href="{{ post.permalink }}#land">
                      <div class="featured-post-labeled-image">
                        <img alt="square screenshot for blog post" src="{{ post.cover-image }}" />
                        <div class="text">
                          <div class = "dummy"></div>
                          <div class = "dummy"></div>
                          <div class = "dummy"></div>  
                          <h2>{{ post.shortname}}</h2>
                          <div class = "dummy"></div>
                          <p>{{ post.date | date: "%B %-d %Y" }}</p>
                        </div>
                      </div>
                    </a>
                    <div class="featured-preview">
                      <p>{{ post.excerpt|lstrip }}</p>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
          </div>
        </div>
        <div class="regular">
        <div class = "flex-container">
          {% for post in site.posts %}
            {% if post.featured == "F" %}
              {% if post.type == "blog" %}
                <div class="regular-holder">
                  <a href="{{ post.permalink }}#land">
                    <div class='regular-labeled-image'>
                      <img alt="square screenshot for blog post" src="{{ post.cover-image }}" />
                        <div class = "text">  
                          <div class = "dummy"></div>
                          <div class = "dummy"></div>
                          <div class = "dummy"></div>  
                          <h3 >{{ post.shortname }}</h3>
                          <div class = "dummy"></div>
                          <h1>{{ post.date | date: "%B %-d %Y" }}</h1>
                        </div>
                    </div>
                  </a>
                  <div class="preview">
                    <p>{{ post.excerpt }}</p> 
                  </div>
                </div>
              {% endif %} 
            {% endif %}
          {% endfor %}
          {% assign remainder = site.posts.size | modulo: 2 %}
          {% if remainder != 0 %}
          <div class="regular-holder-dummy">
              <div class='regular-labeled-image'>
                <img src="/img/dummy.png" />
              </div>
          </div>
          {% endif %}
        </div>
        </div>
    </div>


    <div class = "bottom-content">
      <div class="bottom"></div>
    </div>
  </div>

  <div class="page-section-2">
        <div class="misc">
      <div class="buttons">
        <div class="about">
          <a class="button" href="shop.html#art">
            <p>SHOP</p>
          </a> 
        </div>
      </div>
    </div>
  </div>


</div>
</div>
</div>
{% include footer.html %}