---
title: High Tech Fortune Teller and Animation | KTCG Art
description: KTCG Art offers high tech fortune telling by Indigo Coiyle, animation, and artwork
permalink: 
layout: null
---
{% include header.html %}
{% include title-bar.html %}
{% include navigation-bar.html %}
<div class="page-content">
  <br>
  <!-- <a href="/bugmuthurs_repository/" style="text-decoration-color: black; text-decoration-style: double;">
  <div class="bm">
    THIS WAY TO BUGMUTHUR'S REPOSITORY
  </div>
  </a> -->
  <div class="page-section-2" style="align-content: space-around;">
    <div class="vertical-container" style="flex-basis: 35%; margin: 0; flex-grow: 0;">
    {% include embed-sideshow-button.html %}
      </div>
    <div class="vertical-container" style="flex-basis: 25%; margin: 0; flex-shrink: 1;">
    {% include embed-bugmuthur-button.html %}
      </div>
    <!-- <div class="reel" id="sideshow" style="flex-basis: 35%;">
      <div class="section">
        <div class="section-left"></div>
        <div class="section-middle" style="min-width:100pt">
          <a href="sideshow.html">
            <p style="font-size: 0.8em; text-align: center;">see my SIDESHOW!!</p>
          </a>
        </div>
        <div class="dither-section-right">
            <div class="section-right-caption">
                <a href="shop">
                  <p>shop</p>
                </a>
            </div>
          </a>
        </div>
      </div>
      <div class = "reel-container">
      <a href="sideshow.html">
      <img src="/img/sideshow-image.jpg" style="width: 100%;aspect-ratio: 4/3;">
      </a>
      </div>
      
      <div class = "bottom-content">
        <div class="bottom"></div>
      </div>
    </div> -->

  </div>
  <!-- <div class="page-section-2">
        <div class="misc">
      <div class="buttons">
        <div class="about">
          <a class="button" href="rates.html#land">
            <p>HIRE</p>
          </a> 
        </div>
      </div>
      <div class="buttons">
        <div class="about">
          <a class="button" href="about.html#land">
            <p>ABOUT</p>
          </a> 
        </div>
      </div>
            <div class="buttons">
        <div class="about">
          <a class="button" href="shop.html#art">
            <p>SHOP</p>
          </a> 
        </div>
      </div>
    </div>
  </div> -->
  <div class="page-section-2">
        <div class="misc">
      <div class="buttons">
        <div class="about">
          <a class="button" href="/about">
            <p>ABOUT</p>
          </a> 
        </div>
      </div>
      <div class="buttons">
        <div class="about">
          <a class="button" href="/skills" id="reel">
            <p>DEMO REEL</p>
          </a> 
        </div>
      </div>
    </div>
  </div>
</div>
{% include footer.html %}