---
title: SHOP
description: Online shop for production artwork and merch
permalink: shop
layout: null
---
{% include header.html %}
{% include title-bar.html %}
{% include navigation-bar.html %}
<div class="page-content">

      <div class="shop-page-section-1" id="land">
    <div class="shopfront">
    <div class="section">
      <div class="section-left"></div>
      <div class="section-middle">
          <p>ART SHOP</p>
      </div>
      <div class="section-right">
      </div>
    </div>
    <div class="shop-container">
      <div  style="padding: 1%; padding-top: 1%; font-size: 1.1em;">
      <p>Purchase original drawings, prints, and production art.</p>
      </div>
        <div class="shop-regular" style="padding: 3%;">
        <div class = "shop-flex-container" style="height: 720px; background-color: whitesmoke;">
          {% for post in site.posts %}
                {% if post.type != "blog" and post.sold-out != "True" %}
                <div class="shop-regular-holder">
                  <a href="{{ post.permalink }}#land">
                    <div class='shop-regular-labeled-image'>
                      <img alt="square screenshot for blog post" src="{{ post.cover-image }}" />
                    </div>
                  </a>
                  <div class="product-name">
                    <p style="margin: auto;">
                      {{post.shortname}}
                    </p>
                  </div>
                  <div class="product-name">
                      <p style="margin: auto;">
                        ${{post.price}}0
                      </p>
                  </div>
                  <!-- <button class="snipcart-add-item add-button"
                  data-item-id="{{ post.id }}"
                  data-item-url="{{ post.shoplink}}"
                  data-item-price="{{ post.price | money }}"
                  data-item-description= "{{ post.description }}"
                  data-item-image="{{ post.cover-image }}"
                  data-item-name="{{ post.shortname }}"
                  data-item-custom1-name="{{ post.custom1-name }}"
                  data-item-custom1-options="{{ post.custom1-options }}"
                  data-item-max-quantity="{{ post.max-quantity }}">
                  Add to cart
                </button> -->
                </div>
                {% endif %}
          {% endfor %}
        </div>
        </div>
    </div>
    </div>
        <div class="shop-vertical-container">
    {% include embed-souvenir-button.html %}
      </div>

    </div>
  <div class="shop-page-section-1" style="justify-content: space-around; align-items: flex-start;" id="hire">
   <div class="animation" style="flex-basis: 40%; margin: auto; align-items: space-evenly; padding: 0; padding-top: 3%; padding-bottom: 3%; min-width: 400px;">
    <div class="reel" id="reel">
      <div class="section">
        <div class="section-left"></div>
        <div class="section-middle" style="min-width:100pt;">
            <p>HIRE</p>
        </div>
        <div class="dither-section-right">
            <!-- <div class="section-right-caption">
                        <a href="sideshow#reel">
              <p>reel</p>
                        </a>
            </div> -->
          </a>
        </div>
      </div>
      <div class = "reel-container" style="border-width: 0px 1px 1px 1px; padding: 5%;">
      <p style="text-align: center;">
          I use the following art/design tools:
          <ul>
          <li>Photoshop</li>
          <li>Illustrator</li>
          <li>Premiere Pro</li>
          <li>After Effects</li>
          <li>Procreate</li>
          <li>Maya</li>
          <li>Blender</li>
          <li>DSLR photography</li>
          <li>Freehand drawing</li>
          </ul>
          I coded this site myself using HTML/CSS.  For motion work, <a href="/sideshow#reel">view reel</a>.<br><br>Static art and design commissions start at $295. Get in touch via <a href="mailto:contact@ktcg.art?subject=contact from KTCG ART">contact@ktcg.art</a>.
      </p>
    </div>
      
      <!-- <div class = "bottom-content">
        <div class="bottom"></div>
      </div> -->
    </div>
    </div>
  <div class="technical-blog" style="flex-basis: 50%; margin: 5%;">
    <div class="section">
      <div class="section-left"></div>
      <div class="section-middle">
        <a href="technical-blog.html#land">
          <p>TOOLBOX</p>
        </a>
      </div>
      <div class="section-right">
                    <div class="section-right-caption">
                        <a href="technical-blog.html#land">
              <p>all</p>
                        </a>
            </div>
      </div>
    </div>
    <div class="blog-container">
        <div class = "featured">
          <div class = "featured-container">
              {% for post in site.posts %}
                {% if post.permalink == "custom-decal-design" %}
                  <div class="featured-post">
                    <a href="/{{ post.permalink }}#land">
                      <div class="featured-post-labeled-image">
                        <img alt="square screenshot for blog post" src="{{ post.cover-image }}" />
                        <div class="text">
                          <div class = "dummy"></div>
                          <div class = "dummy"></div>
                          <div class = "dummy"></div>  
                          <h2>{{ post.shortname}}</h2>
                          <div class = "dummy"></div>
                          <p>{{ post.date | date: "%B %-d %Y" }}</p>
                        </div>
                      </div>
                    </a>
                    <div class="featured-preview">
                      <p>{{ post.excerpt|lstrip }}</p>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
          </div>
        </div>
    </div>


    <div class = "bottom-content">
      <div class="bottom"></div>
    </div>
  </div>
    </div>
<div class="shop-page-section-1" style="display: flex; flex-wrap: columns;">
            <div class="misc">
    <div class="shopfront">
    <div class="section">
      <div class="section-left"></div>
      <div class="section-middle">
          <p>DESIGNS</p>
      </div>
      <div class="section-right">
      </div>

    </div>
    <div class="shop-container" style="flex-basis: 80%;">
      <div  style="padding: 1%; padding-top: 1%; font-size: 1.1em;">
      <p>Static promos and graphics.</p>
      </div>
        <div class="shop-regular" style="padding: 3%;">
        <div class = "shop-flex-container" style="height: 500px;">
          {% for post in site.posts %}
          {% if post.type != "blog" %}
          {% if post.tags contains "design" %}
                <div class="shop-regular-holder">
                  <a href="{{ post.permalink }}#land">
                    <div class='shop-regular-labeled-image'>
                      <img alt="square screenshot for blog post" src="{{ post.cover-image }}" />
                    </div>
                  </a>
                  <div class="product-name">
                    <p style="margin: auto;">
                      {{post.shortname}}
                    </p>
                  </div>
                  <!-- <div class="product-name">
                    {% if post.status == "sold" %}
                      <p style="background-color: pink; margin: auto;">
                        status: {{post.status}}
                      </p>
                    {% endif %}
                  </div> -->
                      </div>
                {% endif %}
          {% endif %}
          {% endfor %}
          <!--  if  site.posts.size | module: 2  != 0 
          <div class="regular-holder-dummy">
              <div class='regular-labeled-image'>
                <img src="/img/dummy.png" />
              </div>
          </div>
           endif  -->

        </div>
    </div>
    </div>
    <div class = "bottom-content">
      <div class="bottom"></div>
    </div>
    </div>
            <div class="buttons">
            <a class="button" href="/catalog">
                <p>ART CATALOG</p>
            </a> 
        </div>
        </div>
    </div>

</div>
{% include footer.html %}