---
title: SIDESHOW
description: Bugmuthur, a cybernetic sideshow by KTCG Art
permalink: sideshow
layout: null
---
{% include header.html %}
{% include title-bar.html %}

<div class="bm-background">
  <div class="bm-page-content">
    <div class="bm-title" id="land">
      <img alt="bugmuthur's icon" src="/assets/css/style_img/banner.png" />
    </div>
  <div class="bm-page">
  <div class="bm-subtitle">
    <!-- <h1>high tech medium</h1><h1>+</h1><h1>magic moving drawings</h1>  -->
     <h1>CYBERNETIC SIDESHOW!</h1>
  <!-- <h3>Story Box Store is under construction! Will be open soon!</h3> -->
  </div>
  <div class="bm-socials-container">
    <a href="https://www.instagram.com/bugmuthur/">
  <img alt="instagram" src="/assets/icons/ig.png" />
  </a>
  <a href="https://www.youtube.com/@bugmuthur">
  <img alt="youtube" src="/assets/icons/yt.png" />
  </a>
  <!-- <a href="https://www.tiktok.com/@bugmuthur">
  <img alt="tiktok" src="/assets/icons/tt.png" />
  </a> -->
  </div>
  <div class="bm-page-section-2">
        <div class="bm-misc" id="shop">
      <div class="bm-buttons">
          <a class="bm-button" href="booking.html#land">
            <p>BOOK PALM READER</p>
          </a> 
      </div>
      <div class="bm-buttons">
          <a class="bm-button" href="shop.html#land">
            <p>SHOP</p>
          </a> 
      </div>
    </div>
  </div>
    <div>
  <div class="bm-subtitle">
    <!-- <h1>high tech medium</h1><h1>+</h1><h1>magic moving drawings</h1>  -->
     <p style="color: lime">upcoming markets: 7/1 <a href="https://www.instagram.com/technonightmarket" style="color: white !important">Techno Night Market</a></p>
  <!-- <h3>Story Box Store is under construction! Will be open soon!</h3> -->
  </div>
  <div class="bm-subtitle">
     <h2>CURRENT ACTS</h2>
  </div>
    <div class="bm-acts" id="readings">
        <div class="bm-act-holder" id="story">
            <div class="bm-section">
                <div class="bm-section-left"></div>
                <div class="bm-section-middle">
                    <p style="font-size: 0.9em;">MAGIC MOVING DRAWINGS</p>
                </div>
                <div class="bm-section-right"></div>
            </div>
            <div class="bm-readings-container">
                <div class="bm-readings-top-section">
                    <br>
                    <p>Watch an animated tale from Bugmuthur's Story Box! </p>
                </div>
                <div style="padding:0px">
                    <iframe src="https://www.youtube.com/embed/AtKkr7Ze39M?si=2F7MwnNHEtYKfz7O" style="width: 100%;aspect-ratio: 16/9;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
        <div class="bm-act-holder">
            <div class="bm-section">
                <div class="bm-section-left"></div>
                <div class="bm-section-middle">
                    <p style="font-size: 0.9em;">HI-TECH PALM READER</p>
                </div>
                <div class="bm-section-right"></div>
            </div>
            <div class="bm-readings-container">
                <div class="bm-readings-top-section">
                    <p>Indigo's intuitive inferences will leave you in awe! Find her telling fortunes with Bugmuthur's Eye around Los Angeles!</p>
                </div>
                <div class="bm-readings-image">
                    <img alt="indigo coiyle digital medium doing a palm reading" src="/assets/readings/readings-image-june.jpg" />
                </div>
            </div>
        </div>
        </div>
      <div class="bm-subtitle">
    <!-- <h1>high tech medium</h1><h1>+</h1><h1>magic moving drawings</h1>  -->
     <h2>ANNOUNCEMENTS</h2>
  <!-- <h3>Story Box Store is under construction! Will be open soon!</h3> -->
  </div>
        <div class="bm-acts">
        <div class="bm-act-holder" id="welcome">
            <div class="bm-section">
                <div class="bm-section-left"></div>
                <div class="bm-section-middle">
                    <p style="font-size: 0.9em;">HOSTESS WELCOME</p>
                </div>
                <div class="bm-section-right"></div>
            </div>
            <div class="bm-readings-container">
                <div class="bm-readings-top-section">
                    <p>A greeting from the one-and-only Bugmuthur, in her digital form!</p>
                </div>
                <div style="padding:0px">
                    <iframe src="https://www.youtube.com/embed/k6bGNXJ4TjQ?si=-ItfgoC1-UA0ncwd" style="width: 100%;aspect-ratio: 16/9;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
        <div class="bm-act-holder" id="sponsor">
            <!-- <div class="bm-section">
                <div class="bm-section-left" style="border-style: none; background-color: black;"></div>
                <div class="bm-section-middle" style="border-style: none; background-color: black;">
                    <p style="font-size: 1.2em; font-family: 'Archivo Black', Arial, sans-seif; color: magenta;">Thirsty??</p>
                </div>
                <div class="bm-section-right" style="border-style: none; background-color: black;"></div>
            </div> -->
            <div class="bm-readings-container" style="border-style: none; background-color: black; padding-bottom: 0;">
                <div class="bm-readings-top-section" >
                    <p style="font-family: 'Ubuntu', Arial, sans-seif; color: black; background-color: magenta; padding: 5%;">Thirsty?? Don't miss the juice drop! A new juicebox that will blow your mind. <a href="/juicebox#land" style="color: black !important">PREORDER</a></p>
                </div>s
                <div style="padding:0px">
                    <iframe src="https://www.youtube.com/embed/I84ZaiMRCi0?si=KUG0LpY-0ePzVRxl" style="width: 100%;aspect-ratio: 16/9;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>
                <div class="bm-readings-top-section" style="border-style: none; background-color: black;">
                    <p style="font-size: 0.4em; font-family: 'Share Tech Mono', Arial, sans-seif; color:#c9ccc7;">Bugmuthur bears no responsibility for messages from paid advertisers</p>
                </div>
            </div>
        </div>
        <div class="bm-act-holder" id="riddle">
            <div class="bm-section">
                <div class="bm-section-left"></div>
                <div class="bm-section-middle">
                    <p style="font-size: 0.9em;">WIN A PRIZE!</p>
                </div>
                <div class="bm-section-right"></div>
            </div>
            <div class="bm-readings-container">
                <div class="bm-readings-top-section">
                    <p>I take two bytes. Who am I?<br><a href="mailto:riddle@ktcg.art?subject=Riddle guess" style="color: white !important;">Submit a guess!</a></p>
                </div>
                <div class="bm-readings-image">
                    <img alt="riddle" src="/assets/riddle/riddle.jpg" />
                </div>
            </div>
                  <div class="bm-buttons">
          <a class="bm-riddle-button" href="/catalog#sewer-issue">
            <p>STUMPED? Look around</p>
          </a> 
      </div>
        </div>

    </div>
      <div class="bm-subtitle">
    <!-- <h1>high tech medium</h1><h1>+</h1><h1>magic moving drawings</h1>  -->
     <h2>ONE NIGHT ONLY</h2>
  <!-- <h3>Story Box Store is under construction! Will be open soon!</h3> -->
  </div>
  <div class="bm-acts" id="readings">
        <div class="bm-act-holder">
            <div class="bm-section">
                <div class="bm-section-left"></div>
                <div class="bm-section-middle">
                    <p style="font-size: 0.9em;">BUGMUTHUR ALIVE</p>
                </div>
                <div class="bm-section-right"></div>
            </div>
            <div class="bm-readings-container">
                <div class="bm-readings-top-section">
                    <p>12.6.2025<br><br>Bugmuthur finally achieves corporeality! A-live demonstration of Indigo's cybernetic channeling capabilities!</p>
                </div>
                <div style="padding:0px">
                    <iframe src="https://www.youtube.com/embed/hTVkrvMCeVM?si=tEp1U41pi-qXO6HP" style="width: 100%;aspect-ratio: 16/9;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
  </div>
  </div>
</div>
</div>

{% include footer.html %}