<div style="padding:56.25% 0 0 0;position:relative;" id="character-animation-reel">
    <iframe src="https://player.vimeo.com/video/315159961?h=b787fe4bf9" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen>
    </iframe>
</div>
<script src="https://player.vimeo.com/api/player.js"></script>

<p>
<b>00:05 – 00:28. 2D Golf Ball Rig:</b> “Model” of flat planes created by me
<br>
Created for my short, Midland Safari Putt-Putt. I wanted to combine the comparatively faster workflow of 2D animation with the 
powerful animation tools of Maya. For each character, I made multiple rigs for different views, a technique I learned from 
researching 2D puppet animation. I got a kick out of using Maya in a way that it’s not supposed to be! 
<br>
<br>
<b>00:30 – 00:48. Squid Rig:</b> Model by Moshe Mahler
<br>
This rig was created as part of my duties as a TA for Technical Character Animation, taught by Moshe Mahler. 
We needed a rig that students could use to learn tail animation and squash and stretch, but wanted to do something a little fun and weird. 
We came up with this squid. The squashing is done with squash handles, and I used the follicles from Maya’s hair system (XGen) to constrain 
the eye and tail joints to the mesh so that they translate appropriately when the body squashes and stretches.
<br>
<br>
<b>00:50 – 1:59. Biped Rig:</b> Model courtesy of the Eleven Rig group
<br>
Created for Prof. Johannes DeYoung’s Character Rigging for Production class. We approached rigging in a modular manner, 
with the biped as a vehicle to learn different techniques that can inform rigging other characters.
<br>
<br>
<b>2:00 – 2:31. 2D Giraffe Rig:</b> “Model” of flat planes created by me
<br>
Also created for Midland Safari Putt-Putt, my short film. I left certain pieces of geometry in the face unskinned, to allow me to adjust them on-the-fly 
as I animated. I got this idea from seeing how 2D puppet animators will scale/translate/rotate shapes, sans controls.
<br>
<br>
<b>2:32 – 3:25. 3D Giraffe Rig:</b> Model courtesy of TurboSquid
<br>
Also created for Prof. Johannes DeYoung’s Character Rigging for Production class. We took the lessons learned from the biped and applied 
them to a quadruped. I picked a giraffe – noticing a theme?
<br>
<br>
<b>3:26 – 3:40. Pendulum Rig:</b> Models created by me
<br>
Also created as part of my TA duties for Technical Character Animation. We needed a rig to teach the students about overlapping animation. 
I included a crane so that they could try the added challenge of picking something up.
<br>
<br>
<b>3:41 – 3:53. Simple Ball Rig:</b> Models created by me
<br>
Also created as part of my TA duties for Technical Character Animation. This rig was for the first assignment, a ball bounce. 
I created different ball models so students could get in the habit of viewing reference video before creating animation.
</p>