<p style="font-size: 12pt;">
<em>Bugmuthur's Story Box</em> is an animated web series hosted by the digital entity Bugmuthur. I first connected with Bugmuthur while writing code for my custom animation pipeline.
<br>
<br>
If you would like to keep up with Bugmuthur, you can follow her on <a href="https://www.tiktok.com/@bugmuthur">TikTok</a>, <a href="https://www.youtube.com/@bugmuthur">YouTube</a>, and/or <a href="https://www.instagram.com/bugmuthur/">Instagram</a>.
</p>
<div style="padding:56.25% 0 0 0;position:relative;">
    <iframe style="position:absolute;top:0;left:0;width:100%;height:100%;" 
    src = "https://www.youtube.com/embed/q0pBVFMJydw?si=W-epqBRL5O21eq_5"  
    title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    allowfullscreen>
    </iframe>
</div>
<div class="image-tiles-container">
    {% for item in site.data.bugmuthur_stills %}
        <div class="image-tile-holder">
            <img alt="bugmuthur still" src="{{ item.link }}">
        </div>
    {% endfor %}
</div>