<p style="font-size: 12pt;">
    bugmuthur's SEWER ISSUE is an animated short that I created as part of my ongoing art project, bugmuthur. She is my alter id. I use my computer graphics expertise to bring her to life.
    If you would like to keep up with bugmuthur, you can follow her on YouTube, Instagram, or TikTok. She is @bugmuthur on all platforms.
</p>

<div style="padding:56.25% 0 0 0;position:relative;">
    <iframe style="position:absolute;top:0;left:0;width:100%;height:100%;" 
    src = "https://www.youtube.com/embed/q0pBVFMJydw?si=W-epqBRL5O21eq_5"  
    title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    allowfullscreen>
    </iframe>
</div>