<div class="container" style="max-width: 100%;">
    <a href="/shop" style="text-decoration-color: black; text-decoration-style: double; font-size: 1.2em !important; top:50%;">
        <button class="btn" style="font-size: 1.1em; font-family: Tourney, Helvetica, monospace; left: 60%; top: 15%">shop</button>
    </a>
    <img alt="sideshow-ad" src='/img/bugmuthur-button/bugmuthur-button.png'>
        <div class="about">
          <a class="button" href="sideshow.html#land" style="max-width: 85%; margin-left:0;margin-top: 0; font-size:  1.2em; text-align: center;">
            <p  style="margin: 2%;">take a trip to my SIDESHOW!!</p>
          </a> 
        </div>
</div>