<div style="padding:56.25% 0 0 0;position:relative;" id="character-animation-reel">
    <iframe src="https://player.vimeo.com/video/370803221?h=35f9b4b177" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen>
    </iframe>
</div>
<script src="https://player.vimeo.com/api/player.js"></script>
<p>
<b>00:04 - 00:20. Youth Pastor Rick model:</b> Created for an animated short about a youth group. I drew the character designs and modeled the character.
<br>
<br>
<b>00:21 - 00:48. Character Animation:</b> Ultimate Bony Rig by Ugur Yetiskin and Bonnie Rig by Josh Sobel. Audio clip from Steel Magnolias.
<br>
<br>
<b>00:49 - 01:01. Midland Safari Putt-Putt:</b> Shots from a 2D animated short created using flat planes in Maya.
<br>
<br>
<b>01:02 - 01:16. Greer:</b> Rendered version of an animation created for a VR experience. Motion capture performance by Hannah Cornish, character model by Catherine Luo.
<br>
<br>
<b>01:17 - 01:35: Squid Rig:</b> Created for a animation students to complete a ball and tail assignment. Model by Mo Mahler.
</p>