<p style="font-size: 12pt;">A youth group meeting goes off the rails.</p>

<div style="padding:56.25% 0 0 0;position:relative;" id="youth-group-4">
    <iframe src="https://player.vimeo.com/video/412594397?h=cd22fa78ac&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Youth Group 4">
    </iframe>
</div>
<script src="https://player.vimeo.com/api/player.js"></script>
