<div class="container" style="max-width: 100%;">
    <img alt="sideshow-ad" src='/img/sideshow-button/sideshow-button.png'>
    <a href="/booking" style="text-decoration-color: black; text-decoration-style: double;">
        <button class="btn">HIGH-TECH FORTUNE TELLER!!</button>
    </a>
    <a href="/sideshow" style="text-decoration-color: black; text-decoration-style: double;">
        <button class="btn" style="top:50%; left:15%; max-width: 23%; transform: translate(-50%, -50%); font-size: .7em !important;">LIVING GLITCH!!</button>
    </a>
</div>