<p style="font-size: 12pt;">
    The four embeds below are freelance animations I created for an Illinois State Geological Survey 
    documentary about their carbon sequestration partership with ADM. The documentary was directed by the 
    Emmy-award winning director Alison Davis Wood. For each animation, I researched the scientific concepts
    I would be illustrating, and used visual reference for the geological structures. It was a fun project.
</p>

<div style="padding:56.25% 0 0 0;position:relative;">
    <iframe style="position:absolute;top:0;left:0;width:100%;height:100%;" 
    src ="https://www.youtube.com/embed/RbD1TJ1pWn8" 
    title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    allowfullscreen>
    </iframe>
</div>

<div style="padding:56.25% 0 0 0;position:relative;">
    <iframe style="position:absolute;top:0;left:0;width:100%;height:100%;" 
    src ="https://www.youtube.com/embed/GSsReeEf_1k" 
    title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    allowfullscreen>
    </iframe>
</div>

<div style="padding:56.25% 0 0 0;position:relative;">
    <iframe style="position:absolute;top:0;left:0;width:100%;height:100%;" 
    src ="https://www.youtube.com/embed/mw7oCqEaAmk" 
    title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    allowfullscreen>
    </iframe>
</div>

<div style="padding:56.25% 0 0 0;position:relative;">
    <iframe style="position:absolute;top:0;left:0;width:100%;height:100%;" 
    src ="https://www.youtube.com/embed/hMaCaTIYND4" 
    title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    allowfullscreen>
    </iframe>
</div>


