<p style="font-size: 12pt;">
<p>A man gets what he wants.</p>
<!-- <a href="/sideshow#sponsor" style="text-decoration-color: black; text-decoration-style: double;">
    <div class="banner">
        <p>Thank you to the sponsors of my sideshow!!</p>
    </div>
</a> -->
<div style="padding:56.25% 0 0 0;position:relative;">
    <iframe style="position:absolute;top:0;left:0;width:100%;height:100%;" 
    src = "https://www.youtube.com/embed/I84ZaiMRCi0?si=3v2EW5ulF6nfNE6n"  
    title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    allowfullscreen>
    </iframe>
</div>