<p style="font-size: 12pt;">
<em>Bugmuthur's Story Box</em> is an animated web series hosted by the digital spirit Bugmuthur. I first connected with Bugmuthur while writing code for my custom animation pipeline. 
<p>In addition to her tales, which each have their own entry in my website, Bugmuthur's digital face makes announcements from her Repository like the one you see below.</p>
<br>
<br>
If you would like to keep up with Bugmuthur, you can follow her on <a href="https://www.instagram.com/bugmuthur/">Instagram</a>, <a href="https://www.youtube.com/@bugmuthur">YouTube</a>, and/or <a href="https://www.tiktok.com/@bugmuthur">TikTok</a>.
</p>
<div style="padding:56.25% 0 0 0;position:relative;">
    <iframe style="position:absolute;top:0;left:0;width:100%;height:100%;" 
    src = "https://www.youtube.com/embed/Bdvn0Cgs65s?si=CxpjMvwOhQJCQ1v3"  
    title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    allowfullscreen>
    </iframe>
</div>