<div style="padding:56.25% 0 0 0;position:relative;" id="character-animation-reel">
    <iframe src="https://player.vimeo.com/video/248882267?h=7c7a2b6254" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen>
    </iframe>
</div>
<script src="https://player.vimeo.com/api/player.js"></script>

<p>
<b>00:05 – 00:14. Body Mechanics Ballet shot:</b> Stuart Rig by Animation Mentor. 
I was not satisfied with the way the feet on that rig approximate a point shoe, so I made blendshapes and a simple pointe attribute to obtain a better foot pose. 
I also constructed the environment, modded the rig's textures, and did the skirt simulation
<br>
<br>
<b>00:15– 00:37. Acting shots:</b> Youth Group 4. These shots are from my senior thesis film, which was created using Unity3D. 
I am responsible for every aspect of the character creation. Audio and motion capture performances from Zivan "Z" Vasquez, Natasha Shukla, 
Nathan Blinn, and Katie Sabel. Motion capture was used for the body performance. I hand-animated the faces and hands. 
The lip sync was done with Motionbuilder’s Voice Device.
<br>
<br>
<b>00:37 – 00:45. Midland Safari Putt-Putt:</b> These shots are from a short film I created using flat planes animated in Maya. 
I am responsible for all aspects of production.
<br>
<br>
<b>00:46 – 00:49. Stylized Walk Cycle:</b> Ultimate Bony Rig by Ugur Yetiskin
<br>
<br>
<b>00:50 – 01:02. Paddle and Tail:</b> Ultimate Tailed Rig by Ugur Yetiskin
<br>
<br>
<b>01:02 – 01:25. Body Mechanics Monkey Bars shot:</b> Ultimate Bony Rig by Ugur Yetiskin  
</p>