<p style="font-size: 12pt;">
    I made this video card for my mother for her birthday. My family members sent me audio clips of themselves singing along to a birthday kareoke, as well as song nice messages for my mom.
    I cast them each as a fruit, targeted their audio to the fruit mesh using <a href="https://www.nvidia.com/en-us/omniverse/apps/audio2face/">Nvidia's AI lip syncing tool</a>, exported it
    to Maya for additional cleanup, and rendered from Blender. 
</p>

<div style="padding:56.25% 0 0 0;position:relative;">
    <iframe style="position:absolute;top:0;left:0;width:100%;height:100%;" 
    src ="https://www.youtube.com/embed/XjbyK2a2A4A?si=0q8JC4HEP2RLlPvh" 
    title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    allowfullscreen>
    </iframe>
</div>