<div class="container" style="max-width: 100%;">
        <!-- <div class="shop-btn" style="top: 15%; left: 0%; max-width: 70%;"> -->
            <!-- <div class="snipcart-checkout view-cart-button" style="width: 90%; margin: auto; font-family:Share Tech Mono, Helvetica, monospace;">CHECK OUT!!</div> -->
        <!-- <p>Email contact@ktcg.art to order.</p>
        </div> -->
    <img alt="sideshow-ad" src='/img/souvenir-button/souvenir-button.png'>
    <a href="mailto:contact@ktcg.art?subject=Art Purchase&body=Please provide a list of items, your shipping address, name, and phone number. I will reply with an invoice and payment options." style="text-decoration-color: black; text-decoration-style: double; font-size: 1.2em !important;">
        <button class="shop-btn" style="font-size: 0.7em; font-family: Share Tech Mono, Helvetica, monospace; padding: 1%;  top: 15% !important;">Email contact@ktcg.art to purchase.</button>
    </a>

</div>