<div class="container" style="max-width: 100%;">
        <!-- <div class="shop-btn" style="top: 15%; left: 0%; max-width: 70%;"> -->
            <!-- <div class="snipcart-checkout view-cart-button" style="width: 90%; margin: auto; font-family:Share Tech Mono, Helvetica, monospace;">CHECK OUT!!</div> -->
        <!-- <p>Email contact@ktcg.art to order.</p>
        </div> -->
    <img alt="sideshow-ad" src='/img/souvenir-button/souvenir-button.png'>
    <a href="/dlist" style="text-decoration-color: black; text-decoration-style: double; font-size: 1.2em !important;">
        <button class="shop-btn" style="font-size: .9em; font-family: Tourney, Helvetica, monospace; padding: 2%; left:34%; top: 12% !important;">OPT-IN<br> to<br>email list!</button>
    </a>
    <div class="about">
        <div class="button" style="max-width: 80%; margin-left:0;margin-top: 0; font-size:  1.2em; text-align: center;">
        <p  style="margin: 2%; font-family: 'Ubuntu', Arial, monospace;">PURCHASE INSTRUCTIONS:<br><em>Please email <a href="mailto:contact@ktcg.art?subject=Art Purchase&body=Please provide a list of items, your shipping address, name, and phone number. I will reply with an invoice and payment options.">contact@ktcg.art</a> with a list of items, your shipping address, name, and phone number. I will reply with an invoice and payment options.</em></p>
        </div> 
    </div>

</div>