<p style="font-size: 12pt;">I do both keyframe and motion capture animation. I use both industry-standard workflows and my own custom pipeline.</p>
<div style="padding:56.25% 0 0 0;position:relative;" id="reels">
    <iframe src="https://www.youtube.com/embed/rF_eax3a1fs?si=9l4P1vtYr5e3msZl" style="position:absolute;top:0;left:0;width:100%;height:100%;" 
    frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen>
    </iframe>
</div>
<p id="reel-breakdown">
Breakdown:
<br>
<br>
00:03:00 - 00:25:10: Juice Drops. Music video. I created all visuals. The character animation was created using my custom 2.5D mocap Maya plugin.
The props (buttons, juicebox, etc.) and backgrounds are drawn by hand with India ink. 
I also performed all the motion capture.
For more information, see <a href="/juice-drops-breakdown#land">my pipeline breakdown video</a>.
Audio by Jeff Schulthies. Vocals by Dimitri Beshkov.
<br>
<br>
00:25:11 - 00:32:22: Traveling ballet combination. Keyframe exercise. Created based on reference from former professional ballet dancer and current aerospace engineer Marie Tender. I modified the Stewart rig from Animation Mentor with blendshapes to achieve the correct shape for dancing en pointe.
Other than the rig, I created all visual aspects of this shot.
<br>
<br>
00:32:23 - 00:37:29: Youth Group 4. Cinematic sequence created using Unity. I created this shot as part of an 8-minute film using Unity's Timeline and Cinemachine. I performed motion capture cleanup in MotionBuilder and character modeling in Maya.
For more information, see <a href="/2020/05/10/making-a-short-film-in-unity-using-the-unity-timeline#land">a pipeline post on my blog</a>.
<br>
<br>
00:38:00 - 00:44:14: Christmas Rose. Animated short. I created all visuals. The character animation was created using my custom 2.5D mocap Maya plugin.
The props (chair, desk, etc.) and backgrounds are drawn by hand with India ink. 
I also performed all the motion capture. The voice is my voice. Audio by Jeff Schulthies.
<br>
<br>
00:44:15 - 00:52:05: Midland Safari Putt-Putt. Animated short. Created with a 2.5D animation technique in Autodesk Maya, which I later expanded upon to create the work you see in Juice Drops, Christmas Rose, and Sewer Issue. Animation is keyframed.
For more information, see <a href="/2019/08/11/animating-using-flat-planes-in-maya#land">a pipeline post on my blog</a>.
<br>
<br>
00:52:06 - 00:59:08: The Illinois Basin. Freelance scientific animation. Excerpt from one of four animations created for the Illinois State Geological Survey to demonstrate geological concepts related to carbon sequestration. As part of the project, I independently studied geology concepts in order to accurately represent them visually.
For information about the outlines rendering technique used in this shot, see my <a href="/creating-solid-outlines-in-blender#land">toon outlines post on my blog</a>.
<br>
<br>
00:59:09 - 01:17:22: Sewer Issue. Animated short. I created all visuals. The character animation was created using my custom 2.5D mocap Maya plugin.
I also performed all the motion capture. Audio by Jeff Schulthies.
</p>
<script src="https://player.vimeo.com/api/player.js"></script>