<div class="container" style="max-width: 100%;">
    <img alt="sideshow-ad" src='/img/sideshow-button/sideshow-button.png'>
    <a href="/booking#land" style="text-decoration-color: black; text-decoration-style: double; font-size: 1.2em !important;">
        <button class="btn" style="font-size: 1.1em; font-family: Tourney, Helvetica, monospace; padding: 1%;  top: 15% !important;">find out your FORTUNE!!</button>
    </a>
    <!-- <a href="/sideshow#land" style="text-decoration-color: black; text-decoration-style: double;">
        <button class="btn" style="top:77%; left:15%; max-width: 20%; transform: translate(-50%, -50%); font-size: .6em !important;">visit my SIDESHOW!</button>
    </a> -->
</div>