<!DOCTYPE html>
<html>
    <head>
        <title> {{ page.title }}</title>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Roboto' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/assets/css/styles.css">
    </head>
    <body style="margin:0;">
        
        <div class = "post-bg">
        <div class="navi">
            <div class="navi-buttons-holder">
                <!-- {% for item in site.data.navigation %}
                <a href="{{ item.link }}"class="navi-buttons">{{ item.name }}</a>
                {% endfor %} -->
                {% include navigation.html %}
        </div>
        </div>
        <!-- <div class = "bottom-content">
            <div class="bottom"></div>
          </div> -->
            <div class="header-bg">
                <div class="header-container">
                    <div class="clip-text clip-text_one">KTCG</div>
                </div>
            </div>
