<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title> {{ page.title }}</title>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700|Roboto' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body style="margin:0;">
        
        <div class = "post-bg">
        <div class="navi">
            <div class="navi-buttons-holder">
                <!-- {% for item in site.data.navigation %}
                <a href="{{ item.link }}"class="navi-buttons">{{ item.name }}</a>
                {% endfor %} -->
                {% include navigation.html %}
            </div>
        </div>
        <div class="topnav">
            <a href="" class="active"></a>
            <!-- Navigation links (hidden by default) -->
            <div id="myLinks">
                <div style="height:1em"></div>
                <a href="index.html" style="height: 2em;
                line-height: 2em;">HOME</a>
                <a href="blog.html" style="height: 2em;
                line-height: 2em;">TECHNICAL BLOG</a>
                <a href="animations.html" style="height: 2em;
                line-height: 2em;">ANIMATIONS</a>
                <a href="drawing.html" style="height: 2em;
                line-height: 2em;">DRAWING</a>
                <a href="reels.html" style="height: 2em;
                line-height: 2em;">REELS</a>
                <a href="about.html" style="height: 2em;
                line-height: 2em;">ABOUT</a>
            </div>
            <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <!-- <i class="fa fa-bars" style="text-align: center;"></i> -->
            </a>
            <script>
            function myFunction() {
                var x = document.getElementById("myLinks");
                if (x.style.display === "block") {
                  x.style.display = "none";
                } else {
                  x.style.display = "block";
                }
              } 
            </script>
          </div>
        <!-- <div class = "bottom-content">
            <div class="bottom"></div>
          </div> -->
            <div class="header-bg">
                <div class="header-container">
                    <div class="clip-text clip-text_one">KTCG</div>
                </div>
            </div>
