            <div class="header-bg">
                <div class="header-container">
                    <div class="clip-text clip-text_one">
                      <a href="/index.html" style="text-decoration: none !important;">
                        KTCG&nbsp
                      </a>
                    </div>
                    <div class="clip-text clip-text_one">
                      <a href="/index.html" style="text-decoration: none !important;">
                        ART&nbsp
                      </a>
                    </div>

                    <div class="clip-text-diff clip-text_one" style="opacity: 50%; width: 100%; padding: 1%;">
                      <a href="/index.html" style="text-decoration: none !important;">
                          animated entertainment
                      </a>
                    </div>
                </div>
            </div>