.current {
    color: green;
}

.colored-text{
    font-size: 24pt;
    color: red;
}

.captioned-image{
    margin: auto;
    text-align: center;
    max-width: 600px;
}

.captioned-image video{
    max-width: 600px;
    width: 100%;
}

.captioned-image img{
    width: 100%; 
}

.captioned-image p{
    width: 100%;
    font-size: 10pt;
}

.captioned-image iframe{
    width: 100%;
}