@import url('https://fonts.googleapis.com/css?family=Tourney');
@import url('https://fonts.googleapis.com/css?family=Text Me One');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Unbounded');
@import url('https://fonts.googleapis.com/css?family=Rajdhani');
@import url('https://fonts.googleapis.com/css?family=Russo One');
@import url('https://fonts.googleapis.com/css?family=Archivo Black');

/* Clip text element */
.clip-text {
  font-size: 10em;
  font-weight: bold;
  font-family: 'Archivo Black';
  letter-spacing: -12px;
  text-align: center;
  /* Color fallback */
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  padding: 0;
}

 @media screen and (max-width: 480px) {
  .clip-text {
    font-size: 6em;
  }
} 

@media screen and (max-width: 415px) {
  .skills{
    /* width: 50px !important;
    flex-grow: 0;
    max-width: 50px;
    min-width: 10px;
    flex: 0; */
    margin-left: 20% !important;
    margin-right: 20% !important;
    margin-top: 5% !important;
  }

  /* .d{
    width: 10px;
  }

  .small-section-middle {
    
    width: 40pt !important;
    font-size: 1em !important;
    background-color: #04AA6D;
  } */
}

.clip-text_one {
  background-image: url('style_img/text_dither.png');
  background-size: 40px;
  background-repeat: repeat-x;
}

.header-bg{
  padding: 0;
  padding-bottom: 1%;
  padding-top: 1%;
}

.header-container{
    /*background-image: url('style_img/bg_seamless_dither.png');
    background-size: cover;
    background-size: 40px;
    filter: invert();*/
    background-color:#D2D2E3;
    max-width: 100%;
    display: block;
}

.navi {
  display: block;
  background-color: black;
  padding-top: 3%;
  padding-bottom: 3%;
}

.navi-buttons-holder {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.navi-buttons, .navi-buttons-current {
  box-sizing: border-box;
  font-family: Tourney, Helvetica, monospace;
  font-size: 1.25em;
  border-style: solid;
  border-width: 0.0625em;
  border-color: white;
  flex-basis: 9.375em;
  text-align: center;
  margin: 1%;
  padding-top: .5%;
  padding-bottom: .5%;
}

.navi-buttons:link {color: white;}
.navi-buttons:visited {color: white;}
.navi-buttons:hover {color: white;}

.navi-buttons-current:link {color: white;}
.navi-buttons-current:visited {color: white;}
.navi-buttons-current:hover {color: white;}

.navi-buttons {
  color: white;
  text-decoration: none !important;
}

.navi-buttons-current {
  color: white;
  text-decoration: underline;
}

 /* Style the navigation menu */
 .topnav {
  display:block;
  overflow: hidden;
  background-color: black;
  position: relative;
  font-family: Tourney, Helvetica, monospace;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
  font-size: 26pt;
  text-align: center;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  text-decoration: none;
  display: block;
  background-color: black;
  height: 2.3em;
}

/* Style the hamburger menu */
.topnav a.icon {
  display: block;
  position: absolute;
  top:.3em;
  /* left: 0; 
  right: 0;
  margin-left: auto;
  margin-right: auto; */
  right: .2em;
  width: 2.1em;
  background-image: url('style_img/white-bars-spaced.png');
  background-size: 1.25em;
  background-repeat: repeat-x;
}

/* Add a grey background color on mouse-over */
.topnav a.icon:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04AA6D;
  color: white;
} 

@media screen and (max-width: 480px) {
  .navi{
    display: none;
  }
  .topnav{
    display: block;
  }
}

@media screen and (min-width: 480px) {
  .navi{
    display: block;
  }
  .topnav{
    display: none;
  }
}

.header {
    color: purple;
    font-size: 24pt;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    background-color: white;
}

.header img{
  object-fit: contain;
  max-width: 300px;
}

.header h1{
    text-align: center;
    font-family: Text Me One, Helvetica, monospace;
}

.footer {
  background-color: white;
	text-align: center;
  color: green;
  margin: 0;
  padding: 0;
}

.content-holder{
  max-width: 1250px;
  margin: auto;
  padding: 0;
  margin-left: 2%;
  margin-right: 2%;
  max-width: 96%;;
  overflow: hidden;
  margin-top: 1%;
  margin-bottom: 1%;
}

.content, .content-transp{
    max-width: 1250px;
    padding: 1em;
    margin: auto;
    margin-bottom: 0;
    font-family: 'Ubuntu', Arial, sans-serif;
}

.content{
  background-color: white;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  padding-right: 5%;
  padding-left: 5%;
}

.content h1{
  background-color: white;
  font-family: Tourney, Helvetica, monospace;
  font-weight: normal;
}

.content h2{
  font-family: 'Text Me One', Tahoma, sans-serif;
  text-align: center;
}

.content h4{
  font-weight: normal;
  font-size: 10pt;
  color:#999999;
  margin: 0;
}

.content a{
  color:#3d3de3
}

.post-bg{
    /*background-image: url('style_img/bg_seamless_dither.png');*/
    background-color: #D2D2E3;
}

.captioned-image{
    margin: auto;
    text-align: center;
}

.captioned-image video{
    width: 100%;
}

.captioned-image img{
    width: 100%; 
}

.captioned-image p{
    width: 100%;
    font-size: 10pt;
}

.captioned-image iframe{
    width: 100%;
}

.captioned-image a{
  color: #3d3de3;
}

.code-block{
  background-color: lightblue;
  white-space: pre;
}

/*Things for the landing page*/

.bg { 
    min-height: 100vh;
    background-color: #B0A7C9;
    margin: 0;
    padding: 0;
  }
  
  /*formula to get max-width to use:
  1200/x = (100-2*page-section-margins-as-decimel)/100*/
.page-content {
  max-width: 1250px;
  min-width: 300px;
  margin: auto;
  font-family: 'Ubuntu', Arial, sans-serif;
  /*font-family: 'Open Sans', Helvetica, sans-serif;*/
  /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Helvetica, sans-serif;*/
}

 

.section-left, .label-left {
  box-sizing: border-box;
  flex-grow: 1;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

.label-left {
  border-width: 0px;
}

.section-middle, .small-section-middle, .label-middle{
  font-family: Tourney, Helvetica, monospace;
  box-sizing: border-box;
  width: 33.333%;
  min-width: 200pt;
  height: 100%;
  border-style: solid;
  border-color: black;
  border-width: 1px 1px 0px 1px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /*background-image: url("pay_for_me.png");
  background-repeat: repeat-x;
  background-size: 40px;*/
  background-color: white;
}

.small-section-middle, .label-middle {
  min-width: 100pt;
  background-color: white;
}

.section-middle img{
  position: relative;
  top: .3em;
  height: 1em;
  margin: 0px;
  padding: 0px;
}

.section-middle, .small-section-middle, .label-middle p{
  margin: 0px;
  padding: 0px;
  font-size: 1.625em;
  color: black;
}

.small-section-middle, .label-middle p{
  font-size: 1.375em;
}

.label-middle{
  border-width: 1px 1px 1px 1px;
}

.section-right, .label-right{
  box-sizing: border-box;
  flex-grow: 1;
  
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

.label-right{
  border-width: 0px;
}

.section{
  width: 100%;
  height: 60px;
  display: flex;
  text-decoration: none !important;
}

.section a{
  text-decoration: none !important;
  color: black;
}

.page-section-1 {
  margin-left: 2%;
  margin-right: 2%;
  max-width: 96%;;
  overflow: hidden;
  margin-top: 1%;
  margin-bottom: 1%;
  
}

.blog-container  {
  box-sizing: border-box;
  border-style: solid;
  border-color: black;
  border-width: 0px 1px 0px 1px;
  display: flex;
  flex-wrap: wrap;
  align-items: space-around;
}

/*put a media query in for the min-width to accomodate iphone size*/

.regular {
  display: block;
  flex-basis: 50%;
  min-width: 300px;
  flex-grow: 1;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.featured {
  display: block;
  flex-basis: 50%;
  flex-grow: 1;
  height: 540px;
  min-width: 300px;
  /*background-image: url(mockup_images/featured_bg.png);*/
  padding: 0px;
  margin: 0;
  background-color: #fff;
  box-sizing: border-box;
}

.featured-container {
  display: flex;
  /*background-image: url(mockup_images/featured_bg.png);*/
  background-image: url('style_img/bg_seamless_dither.png');
  background-size: cover;
  background-size: 2.5em;
  filter: invert();
  margin: 5%;
  max-height: 100%;
  height: 90%;
  align-items: center;
  justify-content: center;
}

.featured-post{
  display: flex;
  filter: invert();
  max-width: 90%;
  height: 90%;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  overflow: hidden;
  background-color: #fff;
  flex-basis: 200px;
  aspect-ratio: 1/1;
  position: relative;
  box-sizing: border-box;
  flex-grow: 1;
  /*
  margin: 15px;
  margin-top: 0px;
  overflow: hidden;*/
}

@media screen and (max-width: 881px) {
  .featured-post {
    max-width: 550px;
  }
}

@media screen and (max-width: 750px) {
  .featured-post {
    max-width: 90%;
  }
}

.featured-post-labeled-image{
  flex-basis: 100%;
  aspect-ratio: 4/3;
  display: flex;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.featured-post-labeled-image img{
  max-width: 100%;
  object-fit: contain;
}

.featured-post-labeled-image p {
  display: block;
}

.featured-preview {
  margin: 0;
  font-size: 16px;
}

.featured-preview p{
  text-overflow: ellipsis;
  background-color: #fff;
  margin: 0;
  text-align: justify;
  text-justify: auto;
}

.regular-container{
  display: block;
  width: 50%;
  height: 50%;
  background-color: red;
  box-sizing: border-box;
  overflow: hidden;
}

.flex-container {
  display: flex;
  width: 100%;
  height: 540px;
  justify-content: space-evenly;
  flex-flow: row wrap;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #fff;
  overflow-y:scroll;
  box-sizing: border-box;
  padding: 10px;
}

/*at the end, put in a media query to remove aspect ratio constraint*/
/*and add padding so same size as the featured post */
.regular-holder, .regular-holder-dummy {
  flex-basis: 12.5em;
  aspect-ratio: 1/1;
  position: relative;
  box-sizing: border-box;
  flex-grow: 1;
  max-width: 100%;
  max-height: 100%;
  margin: 0.9375em;
  margin-top: 0px;
  overflow: hidden;
  text-decoration: none !important;
}

/*prevents the last post from being big*/
.regular-holder-dummy{
    /*background-image: url(mockup_images/featured_bg.png);*/
    background-image: url('style_img/bg_seamless_dither.png');
    background-size: 2.5em;
    filter: invert();
}

.regular-labeled-image {
  display: flex;
  aspect-ratio: 4/3;
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none !important;
}

.regular-labeled-image img{
  object-fit: contain;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.flex {
  position: relative;
  margin: 10px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  position: relative;
  align-content: flex-start;
  object-fit: contain;
  flex-basis: 250px;
  flex-grow: 1;
  max-height: 250px;
}

.flex p{
  position: relative;
  background-color: white;
}

.flex img{
  margin: 0;
  max-height: 100%;
  min-width: 100%;
  object-fit: contain;
}

.date {
  position: absolute;
  display: flex;
  bottom: 0;
}

.date p{
  background-color: yellow;
}

.text-holder {
  position: absolute;
  height:75%;
  width: calc(75% * 1.25);
  margin: auto;
}

.text {
  display: flex;
  flex-wrap: wrap;
  /*flex-direction: row;*/
  justify-content: flex-end; /* horizontal position */
  align-items: flex-end; /* vertical position */
  position: absolute;
  max-width: 100%;
  overflow: auto;
  width: 100%;
  text-decoration: none !important;
  color: black;
}

.text h2, h3{
  font-family: 'Text Me One', Tahoma, sans-serif;
  /*
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-family: 'Lato', Helvetica, sans-serif;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  */
  font-weight: 300;
  background-color: #F0EAB0;
  margin: 0px;
  padding: 3px;
  font-size: 18pt;
}


.text h3{
  font-size: 11pt;
}

.text p, h1{
  overflow: hidden;
  background-color: #D2D2E3;
  margin: 0px;
  padding: 2px;
  padding-right: 0px;
}

.text h1{
  font-size: 8pt;
  font-weight: normal;
  padding: 2px;
  padding-right: 0px;
}

.preview {
  display: block;
  margin: 0;
  font-size: 0.875em;
  padding: 0;
  color: black;
}

.preview p{
  background-color: #fff;
  margin: 0;
  text-align: justify;
  text-justify: auto;
}

.dummy{
  width: 100%;
  height: .3125em;
}

/* everything that could be on end in page-section-2
needs a margin-right*/
.page-section-2 {
  max-width: 100%;
  padding-left: 2%;
  flex-wrap: wrap;
  margin: auto;
  display: flex;
  overflow: hidden;
  justify-content: center;
  margin-bottom: 1%;
  margin-top: 1%;

}

/*add a media query to put in margin*/
.animation {
  margin-right:2%;
  max-width: 100%;
  flex-basis: 74%;
  min-width: 300px;
  overflow: hidden;
  display: block;
  flex-grow: 1;
}

.animation-container {
  /*
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0;
  background-color: #fff;
  overflow-x: scroll;
  overflow-y: hidden;
  */
  position: relative;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  border-style: solid;
  border-color: black;
  border-width: 0px 1px 0px 1px;
}

.animation-holder {
  /*flex-basis: 250px;*/
  /*aspect-ratio: 1/1;*/
  display: none;
  position: relative;
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 96%;
  max-height: 100%;
  margin: 2%;
  overflow: hidden;
  flex-grow: 1;
}

.animation-labeled-image {
  display: flex;
  aspect-ratio: 16/9;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.animation-labeled-image img{
  object-fit: contain;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.dummy2{
  width: 100%;
  height: 50%;
}

.animation-text {
  bottom: 10%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center; /* horizontal position */
  align-items: flex-end; /* vertical position */
  position: absolute;
  max-width: 100%;
  overflow: auto;
  width: 100%;
  text-decoration: none !important;
  color: black;
}

.animation-text h3{
  padding: 2px;
  background-color: #F0EAB0;
  font-size: 18pt;
}

.misc{
  flex-basis: 22%;
  min-width: 200px;
  float: right;
  /* overflow: hidden; */
  display: flex;
  margin-right: 2%;
  flex-shrink: 1;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.buttons{
  max-width: 100%;
  flex: 1;
  flex-grow: 0;
  padding: 2%;
}

.button {
  font-family: Tourney, Helvetica, monospace;
  box-sizing: border-box;
  border-style: solid;
  border-color: black;
  border-width: 1px 1px 1px 1px;
  background-color: white;
  min-width: 150pt;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.625em;
  margin-top: 5%;
  margin-bottom: 5%;
}

.about {
  /* flex-grow: 1; */
  margin-top: 1%;
  flex-grow: 1;
}

.skills{
  max-width: 100%;
  margin-right: 1%;
  margin-top: 1%;
  flex: 1;
  flex-grow: 3;
  overflow: hidden;
  min-width: 100pt;
  margin: 6%;
}

.drawing{
  /* flex-basis: 49%; */
  /* max-width: 49%; */
  /* margin: 0;
  overflow: hidden;
  object-fit: contain; */
  flex: 1;
  align-self: center;
  background-color: #fff;
}

.d {
  flex: 1;
  align-self: center;
  overflow: hidden;
  background-color: #fff;
  box-sizing: border-box;
  border-style: solid;
  border-color: black;
  border-width: 0px 1px 1px 1px;
}

.d-holder{
  margin: 5%;
  min-width: 90%;
  max-height: 100%;
  background-color: #fff;
}

.d-holder img {
  object-fit: contain;
  max-width: 100%;
}

.reels{
  flex-basis: 49%;
  max-width: 49%;
  margin: 0;
  overflow: hidden;
}

.reels-container {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
  border-style: solid;
  border-color: black;
  border-width: 0px 1px 0px 1px;
}

.reels-holder {
  position: relative;
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 90%;
  max-height: 100%;
  margin: 5%;
  overflow: hidden;
  flex-grow: 1;
}

.reels-holder img{
  object-fit: contain;
  margin: 0;
  padding: 0;
  max-width: 100%;
  vertical-align: middle;
}

.about-container {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
  border-style: solid;
  border-color: black;
  border-width: 0px 1px 0px 1px;
}

.about-holder{
  position: relative;
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 23%;
  max-height: 100%;
  margin: 5%;
  overflow: hidden;
  flex-basis: 5%;
}

.about-holder img{
  object-fit: contain;
  margin: 0;
  padding: 0;
  max-width: 100%;
  vertical-align: middle;
}


.bottom-content{
  max-width: 1200px;
  min-width: 300px;
  margin: auto;
  filter: invert();
}

.bottom {
  display: inline-block;
  background-image: url("style_img/bottom_dither.png");
  background-repeat: repeat-x;
  margin: auto;
  margin-top: 0px;
  width:1200px;
  height: 2.5em;
  /*filter: invert(100%);*/
  background-size: 2.5em;
  border-style: solid;
  border-color: white;
  border-width: 0px 0px 0px 0px;
  box-sizing: border-box;
}

.image-tiles-container{
  display: flex;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.image-tile-holder{
  flex-basis: auto;
  margin: 0.1875em;
}

.image-tile-holder img{
  max-height: 300px;
  width: 100%;
  object-fit: contain;
}

/* touchscreen stuff */
@media (pointer:coarse), screen and (max-width: 642) {
    .flex-container{
      overflow-x: scroll;
      overflow-y: hidden;
      flex-flow: column;
      flex-wrap: wrap;
      height: 320px;
      margin-right: 5%;
    }
}
/* @media screen and (max-device-width: 600px) and (orientation: portrait) and (min-width: 600px){
  .clip-text{
    font-size: 10em;
  }
  .featured{
    flex-basis: 100%;
    height: auto;
  }
  .animation{
    flex-basis: 100%;
  }
  .misc{
    flex-basis: 100%;
  }
  .regular-holder{
    flex-basis: 25em;
  }
  .section-middle, .label-middle{
    font-size: 3em;
    width: 66%;
  }
  .small-section-middle{
    font-size: 3em;
    width: 66%;
  } 
  .navi-buttons, .navi-buttons-current{
    flex-basis: 12em;
  }

  .text h2{
    font-size: 26pt;
  }

  .text h3{
    font-size: 22pt;
  }

  .text p{
    font-size: 16pt;
  }

  .preview{
    font-size: 1.2em;
  }

  .featured-preview{
    font-size: 1.2em;
  }
  
  .animation-text h3{
    font-size: 26pt;
  }

  .bottom{
    background-size: 3em;
    height: 3em;
  }

} */



/* slideshow stuff */
.drawing-holder {
  display: none;
  margin: 5%;
  position: relative;
  box-sizing: border-box;
  flex-grow: 0;
  min-width: 90%;
  max-height: 100%;
  margin: 5%;
  overflow: hidden;
}

.drawing-holder img {
  object-fit: contain;
  vertical-align: middle;
  max-width: 100%;
}
.drawing-container {
  /*
  max-width: 1000px;
  position: relative;
  margin: auto;*/
  position: relative;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  border-style: solid;
  border-color: black;
  border-width: 0px 1px 0px 1px;
}
/* Next & previous buttons */
.prev,
.next,
.prev-big,
.next-big {
  cursor: pointer;
  position: absolute;
  width: auto;
  margin: 5%;
  padding: 5%;
  color: white;
  font-weight: bold;
  font-size: 20pt;
  transition: 0.6s ease;
  /*border-radius: 0 3px 3px 0;*/
  user-select: none;
}

.prev,
.prev-big{
  left: 0;
}
/* Position the "next button" to the right */
.next,
.next-big {
  right: 0;
  /*border-radius: 3px 0 0 3px;*/
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.prev-big:hover,
.next:hover,
.next-big:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev-big,
.next-big{
  font-size: 40pt;
  margin: 2%;
  padding: 2%;
}

/* Caption text */
.text-1 {
  color: #ffffff;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #ffffff;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #999999;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #111111;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.0s;
  animation-name: fade;
  animation-duration: 0.0s;
}
@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  
  .text-1 {
    font-size: 11px
  }
}