{% include header.html %}
{% include title-bar.html %}
{% include navigation-bar.html %}

<div class="content-holder" style="margin-top: 0px;" id="land">
    <div class="content" style="display: flex; align-items: center; flex-wrap: wrap; justify-content: space-between; background-color: #c9ccc7; border: 0px;">
    <div style="flex-basis: 35%; flex-grow: 1;">
    <div class='captioned-image' style="flex-basis: 35%; padding: 2%; flex-grow: 1; background-color: white;border-width: 1px 0px 0px 0px; border-color: black; border-style: solid;">
      <img alt="katie tender" src='/img/about02.jpg' style='max-width:max-content;' >
    </div>
    </div>
    <div style="flex-basis: 60%; flex-grow: 1; min-width: 300px;">
      <div style="padding: 3%;  background-color: white; border-width: 0px 0px 1px 0px; border-color: black; border-style: solid;">
                <h1>{{ page.shortname }}</h1>
                {% if page.show-date == "T" %}
                    <h4>{{ page.date | date_to_string }}</h4>
                {% endif %}
            {{ content }}
      </div>
    <div class="bm-acts" style="flex-basis: 50%; margin: 5%;">
        <div class="bm-act-holder" id="riddle">
            <div class="section">
                <div class="section-left"></div>
                <div class="section-middle">
                    <p style="font-size: 0.7em;">PAY NO ATTENTION!</p>
                </div>
                <div class="section-right"></div>
            </div>
            <div class="bm-readings-container" style="background-color: white;">
                <div class="bm-readings-top-section">
                    <p style="color: black; outline: none;"><em>I take two bytes. Who am I?</em><br><br><a href="mailto:riddle@ktcg.art?subject=Riddle guess">Submit a guess!</a></p>
                </div>
            </div>
        </div>
  </div>
    </div>
    </div>
</div>

{% include footer.html %}