{% include header.html %}
{% include title-bar.html %}
{% include navigation-bar.html %}

<div class="content-holder" style="margin-top: 0px;" id="land">
    <div class="content" style="background-color: transparent; padding: 0px; margin: auto; border: 0px;">
        <div class="post-header">
            <div class="post-title">
            </div>
                <a href="/technical-blog" style="text-decoration-color: black; text-decoration-style: double;">
                    <div class="banner">
                        <p>all tech blog posts</p>
                    </div>
                </a>
        </div>
    </div>
    <div class="content">
                <h1>{{ page.shortname }}</h1>
                {% if page.show-date == "T" %}
                    <h4>{{ page.date | date_to_string }}</h4>
                {% endif %}
    {{ content }}
    </div>
</div>

{% include footer.html %}