@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');
/** {
  box-sizing: border-box;
}*/
body { 
  min-height: 100vh;
  font-family: Ubuntu, sans-serif;
  background-color: gray;
  margin: 0;
  padding: 0;
}

/*formula to get max-width to use:
1200/x = (100-2*page-section-margins-as-decimel)/100*/
.page-content {
  max-width: 1250px;
  min-width: 300px;
  margin: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Helvetica, sans-serif;
}

.section-left {
  box-sizing: border-box;
  flex-grow: 1;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

.section-middle {
  box-sizing: border-box;
  width: 33.333%;
  min-width: 200pt;
  height: 100%;
  border-style: solid;
  border-color: #fff;
  border-width: 1px 1px 0px 1px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /*background-image: url("pay_for_me.png");
  background-repeat: repeat-x;
  background-size: 40px;*/
  filter:invert(100%);
  background-color: black;
}

.small-section-middle {
  box-sizing: border-box;
  width: 33.333%;
  min-width: 100pt;
  height: 100%;
  border-style: solid;
  border-color: #fff;
  border-width: 1px 1px 0px 1px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /*background-image: url("pay_for_me.png");
  background-repeat: repeat-x;
  background-size: 40px;*/
  filter:invert(100%);
  background-color: black;
}

.section-middle img{
  position: relative;
  top: .3em;
  height: 1em;
  margin: 0px;
  padding: 0px;
}

.section-middle p{
  margin: 0px;
  padding: 0px;
  font-size: 22px;
  color:#fff;
}

.small-section-middle p{
  margin: 0px;
  padding: 0px;
  font-size: 22px;
  color:#fff;
}

.section-right{
  box-sizing: border-box;
  flex-grow: 1;
  
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

.section{
  /*display: inline-block;*/
  width: 100%;
  height: 60px;
  display: flex;
}

.page-section-1 {
  margin-left: 2%;
  margin-right: 2%;
  max-width: 96%;;
  overflow: hidden;
  margin-top: 1%;
  margin-bottom: 1%;
}
/*
@media only screen and (max-width: 862px) {
  .content {max-width: 400px;}
}*/

.blog-container  {
  box-sizing: border-box;
  border-style: solid;
  border-color: black;
  border-width: 0px 1px 0px 1px;
  display: flex;
  flex-wrap: wrap;
  align-items: space-around;
}

/*put a media query in for the min-width to accomodate iphone size*/

.regular {
  display: block;
  flex-basis: 50%;
  min-width: 400px;
  flex-grow: 1;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.featured {
  display: block;
  flex-basis: 50%;
  flex-grow: 1;
  height: 540px;
  min-width: 400px;
  background-image: url(mockup_images/featured_bg.png);
  padding: 0px;
  margin: 0;
  background-color: #fff;
  box-sizing: border-box;
}

.featured-container {
  display: flex;
  background-image: url(mockup_images/featured_bg.png);
  margin: 5%;
  filter: invert();
  max-height: 100%;
  height: 90%;
  align-items: center;
  justify-content: center;
}

.featured-post{
  display: flex;
  filter: invert();
  max-width: 90%;
  height: 90%;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  overflow: hidden;
}

.featured-post img{
  max-width: 100%;
  object-fit: contain;
}

.featured-post p {
  display: block;
}

.featured-preview {
  margin: 0;
  font-size: 14px;
}

.featured-preview p{
  text-overflow: ellipsis;
  background-color: #fff;
  margin: 0;
  text-align: justify;
  text-justify: auto;
}

.regular-container{
  display: block;
  width: 50%;
  height: 50%;
  background-color: red;
  box-sizing: border-box;
  overflow: hidden;
}

.flex-container {
  display: flex;
  width: 100%;
  height: 540px;
  justify-content: space-evenly;
  flex-flow: row wrap;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #fff;
  overflow-y:scroll;
  box-sizing: border-box;
  padding: 10px;
}

/*at the end, put in a media query to remove aspect ratio constraint*/
/*and add padding so same size as the featured post */
.regular-holder {
  flex-basis: 200px;
  aspect-ratio: 1/1;
  position: relative;
  box-sizing: border-box;
  flex-grow: 1;
  max-width: 100%;
  max-height: 100%;
  margin: 15px;
  margin-top: 0px;
  overflow: hidden;
}

.regular-labeled-image {
  display: flex;
  aspect-ratio: 4/3;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.regular-labeled-image img{
  object-fit: contain;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.flex {
  position: relative;
  margin: 10px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  position: relative;
  align-content: flex-start;
  object-fit: contain;
  flex-basis: 250px;
  flex-grow: 1;
  max-height: 250px;
}

.flex p{
  position: relative;
  background-color: white;
}

.flex img{
  margin: 0;
  max-height: 100%;
  min-width: 100%;
  object-fit: contain;
}

.date {
  position: absolute;
  display: flex;
  bottom: 0;
}

.date p{
  background-color: yellow;
}

.text-holder {
  position: absolute;
  height:75%;
  width: calc(75% * 1.25);
  margin: auto;
}

.text {
  display: flex;
  flex-wrap: wrap;
  /*flex-direction: row;*/
  justify-content: flex-end; /* horizontal position */
  align-items: flex-end; /* vertical position */
  position: absolute;
  max-width: 100%;
  overflow: auto;
  width: 100%;
}

.text h3{
  background-color: red;
  margin: 0px;
  padding: 0px;
  font-size: 11pt;
}

.text h2{
  background-color: red;
  margin: 0px;
  padding: 0px;
  font-size: 18pt;
}

.text p{
  overflow: hidden;
  background-color: yellow;
  margin: 0px;
  padding: 0px;
}

.preview {
  display: block;
  margin: 0;
  font-size: 11px;
  padding: 0;
}

.preview p{
  background-color: #fff;
  margin: 0;
  text-align: justify;
  text-justify: auto;
}

.dummy{
  width: 100%;
  height: 5px;
}

/* everything that could be on end in page-section-2
needs a margin-right*/
.page-section-2 {
  max-width: 100%;
  padding-left: 2%;
  flex-wrap: wrap;
  margin: auto;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  margin-bottom: 1%;
  margin-top: 1%;
}

/*add a media query to put in margin*/
.animation {
  margin-right:2%;
  max-width: 100%;
  flex-basis: 64%;
  min-width: 300px;
  overflow: hidden;
  display: block;
  flex-grow: 1;
}

.animation-container {
  /*
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0;
  background-color: #fff;
  overflow-x: scroll;
  overflow-y: hidden;
  */
  position: relative;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  border-style: solid;
  border-color: black;
  border-width: 0px 1px 0px 1px;
}

.animation-holder {
  /*flex-basis: 250px;*/
  /*aspect-ratio: 1/1;*/
  display: none;
  position: relative;
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 96%;
  max-height: 100%;
  margin: 2%;
  overflow: hidden;
  flex-grow: 1;
}

.animation-labeled-image {
  display: flex;
  aspect-ratio: 16/9;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.animation-labeled-image img{
  object-fit: contain;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.dummy2{
  width: 100%;
  height: 50%;
}

.animation-text {
  bottom: 10%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center; /* horizontal position */
  align-items: flex-end; /* vertical position */
  position: absolute;
  max-width: 100%;
  overflow: auto;
  width: 100%;
}

.animation-text h3{
  background-color: red;
  margin: 0px;
  padding: 0px;
  font-size: 18pt;
}

.skills{
  max-width: 100%;
  display: block;
  flex-basis: 32%;
  min-width: 300px;
  flex-grow: 1;
  float: right;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  margin-right: 2%;
  align-content: space-around;
}

.drawing{
  width: 49%;
  margin: 0;
  margin-right: 2%;
  flex-grow: 1;
  overflow:hidden;
}

.reels{
  width: 49%;
  margin: 0;
  flex-grow: 1;
}

.reels-container {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
  border-style: solid;
  border-color: black;
  border-width: 0px 1px 0px 1px;
}

.reels-holder {
  position: relative;
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 90%;
  max-height: 100%;
  margin: 5%;
  overflow: hidden;
  flex-grow: 1;
}

.reels-holder img{
  object-fit: contain;
  margin: 0;
  padding: 0;
  max-width: 100%;
  vertical-align: middle;
}

.about {
  width: 100%;
  flex-grow: 2;
  
}

.about-container {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
  border-style: solid;
  border-color: black;
  border-width: 0px 1px 0px 1px;
}

.about-holder{
  position: relative;
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 23%;
  max-height: 100%;
  margin: 5%;
  overflow: hidden;
  flex-basis: 5%;
}

.about-holder img{
  object-fit: contain;
  margin: 0;
  padding: 0;
  max-width: 100%;
  vertical-align: middle;
}


.bottom-content{
  max-width: 1200px;
  min-width: 300px;
  margin: auto;
  filter: invert();
}

.bottom {
  display: inline-block;
  background-image: url("pay_for_me.png");
  background-repeat: repeat-x;
  margin: auto;
  margin-top: 0px;
  width:1200px;
  height: 40px;
  /*filter: invert(100%);*/
  background-size: 40px;
  border-style: solid;
  border-color: white;
  border-width: 0px 0px 0px 0px;
  box-sizing: border-box;
}

/* slideshow stuff */
.drawing-holder {
  display: none;
  margin: 5%;
  position: relative;
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 90%;
  max-height: 100%;
  margin: 5%;
  overflow: hidden;
  flex-grow: 1;

}
.drawing-holder img {
  object-fit: contain;
  vertical-align: middle;
  max-width: 100%;
}
.drawing-container {
  /*
  max-width: 1000px;
  position: relative;
  margin: auto;*/
  position: relative;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  border-style: solid;
  border-color: black;
  border-width: 0px 1px 0px 1px;
}
/* Next & previous buttons */
.prev,
.next,
.prev-big,
.next-big {
  cursor: pointer;
  position: absolute;
  width: auto;
  margin: 5%;
  padding: 5%;
  color: white;
  font-weight: bold;
  font-size: 20pt;
  transition: 0.6s ease;
  /*border-radius: 0 3px 3px 0;*/
  user-select: none;
}

.prev,
.prev-big{
  left: 0;
}
/* Position the "next button" to the right */
.next,
.next-big {
  right: 0;
  /*border-radius: 3px 0 0 3px;*/
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.prev-big:hover,
.next:hover,
.next-big:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev-big,
.next-big{
  font-size: 40pt;
  margin: 2%;
  padding: 2%;
}

/* Caption text */
.text-1 {
  color: #ffffff;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #ffffff;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #999999;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #111111;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.0s;
  animation-name: fade;
  animation-duration: 0.0s;
}
@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  
  .text-1 {
    font-size: 11px
  }
}