@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');
/** {
  box-sizing: border-box;
}*/
body { 
  min-height: 100vh;
  font-family: Ubuntu, sans-serif;
  background-color: gray;
  margin: 0;
  padding: 0;
}

.section-left {
  box-sizing: border-box;
  flex-grow: 1;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

.section-middle {
  box-sizing: border-box;
  width: 33.333%;
  min-width: 200pt;
  height: 100%;
  border-style: solid;
  border-color: #fff;
  border-width: 1px 1px 0px 1px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /*background-image: url("pay_for_me.png");
  background-repeat: repeat-x;
  background-size: 40px;*/
  filter:invert(100%);
  background-color: black;
}

.section-middle img{
  position: relative;
  top: .3em;
  height: 1em;
  margin: 0px;
  padding: 0px;
}

.section-middle p{

  margin: 0px;
  padding: 0px;
  font-size: 22px;
  color:#fff;
}

.section-right{
  box-sizing: border-box;
  flex-grow: 1;
  
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

.section{
  /*display: inline-block;*/
  width: 100%;
  height: 60px;
  display: flex;
}

.content {
  max-width: 1200px;
  min-width: 300px;
  margin: auto;
}
/*
@media only screen and (max-width: 862px) {
  .content {max-width: 400px;}
}*/

.regular {
  display: block;
  float: right;
  width: 50%;
  box-sizing: border-box;
  border-style: solid;
  border-color: black;
  border-width: 0px 1px 0px 0px;
}

.featured {
  display: block;
  width: 50%;
  height: 540px;
  float: left;
  background-image: url(mockup_images/featured_bg.png);
  padding: 0px;
  margin: 0;
  background-color: #fff;
  box-sizing: border-box;
  border-style: solid;
  border-color: black;
  border-width: 0px 0px 0px 1px;
}

.featured-container {
  display: block;
  background-image: url(mockup_images/featured_bg.png);
  margin: 5%;
  filter: invert();
  max-height: 100%;
}

.featured-post{
  display: flex;
  filter: invert();
  margin: auto; 
  max-width: 80%;
  height: 80%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}

.featured-post img{
  max-width: 100%;
  object-fit: contain;
}

.featured-post p {
  display: block;
}

.featured-preview {
  margin: 0;
  font-size: 14px;
}

.featured-preview p{
  text-overflow: ellipsis;
  background-color: #fff;
  margin: 0;
  text-align: justify;
  text-justify: auto;
}

.regular-container{
  display: block;
  width: 50%;
  height: 50%;
  background-color: red;
  box-sizing: border-box;
}

.flex-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-flow: row wrap;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #fff;
}

.flex {
  margin: 10px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  position: relative;
  object-fit: contain;
  flex-basis: 250px;
  max-height: 250px;
}

.flex p{
  position: relative;
  background-color: white;
}

.flex img{
  max-height: 100%;
  min-width: 100%;
  object-fit: contain;
}

.date {
  position: absolute;
  display: flex;
  bottom: 0;
}

.date p{
  
  background-color: yellow;
}

.text {
  display: flex;
  flex-wrap: wrap;
  /*flex-direction: row;*/
  justify-content: flex-end; /* horizontal position */
  align-items: flex-end; /* vertical position */
  position: absolute;
  max-width: 100%;
  overflow: auto;
  width: 100%;
}

.text br{
  display: block;
  margin-bottom: -.4em;
}

.text h3{
  background-color: red;
  margin: 0px;
  padding: 0px;
}

.text p{
  overflow: hidden;
  background-color: yellow;
  margin: 0px;
  padding: 0px;
}

.preview {
  margin: 0;
  font-size: 11px;
}

.preview p{
  background-color: #fff;
  margin: 0;
  text-align: justify;
  text-justify: auto;
}

.snippet {
  display: flex;
  flex-direction: row;
  justify-content: center-start; /* horizontal position */
  align-items: flex-end; /* vertical position */
  position: absolute;
}

.dummy{
  width: 100%;
  height: 5px;
}

.item{
  object-fit: cover;
  display: block;
}

.bottom {
  background-image: url("pay_for_me.png");
  background-repeat: repeat-x;
  margin-top: 0px;
  width:100%;
  height: 40px;
  /*filter: invert(100%);*/
  background-size: 40px;
  border-style: solid;
  border-color: white;
  border-width: 0px 0px 0px 0px;
  box-sizing: border-box;
}

.test-header{
  max-width: 300px;
  max-height: 300px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}