@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');
/** {
  box-sizing: border-box;
}*/
body { 
  min-height: 100vh;
  font-family: Ubuntu, sans-serif;
  margin: 2rem;
  background-color: hsl(250,10%,55%);
}
.flex-container {
    /* We first create a flex layout context */
    display: flex;
    
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: space-between;
    list-style-type:none;
    margin: 5px;
    border: 5px solid #333;
    background-color: #fff;
    margin-bottom: 2rem;
    max-width: 800px;
  }
.flex {
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  /*width: 50%;*/
  max-width: 300px;
  max-height: 300px;
  overflow: hidden;
  text-overflow: ellipsis;

}
/* optional: alternately flips module layout 
.flex:nth-child(odd) {
  flex-direction: row-reverse;
}
*/
.flex div:first-child {
  flex: 1;
  background-size: cover;
  background-position: center;
}
.flex:first-of-type div:first-child {
  background-image: url("white flag jasper johns.jpg");
}
.flex:last-of-type div:first-child {
  background-image: url("black dragon.jpg");
}
.flex div:last-child {
  margin: 2rem;
  flex: 2;
}
.flex h3 {
  font-size: 1.5rem;
  margin-top: 0;
  font-weight: 400;
  max-width: 40%;
}
.flex p {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
  max-width: 40%;

}
.flex p:last-of-type {
  margin-bottom: 0;
}
.column {
  width: 80%;
  margin: 0 auto;
  /*max-width: 700px;*/
}
/*
@media all and (max-width: 600px) {
  body { margin: 0; }
  /* .flex div { flex: 1 !important; } optional: equalizes the visual "weight" of the photo and description*/
/*}
@media all and (max-width: 450px) {
  h2 {
    margin: 1rem;
  }
  .flex {
    border: 0;
    margin: 0;
    border-bottom: 2px solid #333;
  }
  .flex div:last-child {
    margin: 1rem;
  }
  .column {
    width: 100%;
  }
}
@media all and (max-width: 400px) {
  .flex { flex-direction: column; } 
  .flex div:first-child {
    min-height: 200px;
  }
}
*/