@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');
/** {
  box-sizing: border-box;
}*/
body { 
  min-height: 100vh;
  font-family: Ubuntu, sans-serif;
  margin: 2rem;
  background-color: hsl(250,10%,55%);
}

.column {
  float: left;
  min-width: 33.33%;
  min-height: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.section-left {
  box-sizing: border-box;
  float:left;
  width: 33.333%;
  height: 100%;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
}

.section-middle {
  box-sizing: border-box;
  float: left;
  width: 33.333%;
  height: 100%;
  border-style: solid;
  border-width: 2px 2px 0px 2px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.section-middle p{
  text-align: center;
  margin: 0px;
  font-size: 22px;
  margin: 5px;
}

.section-right{
  box-sizing: border-box;
  float: right;
  width:33.333%;
  height: 100%;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
}

.section{
  /*display: inline-block;*/
  max-width: 1204px;
  min-width: 300px;
  height: 60px;
  margin: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.section-title {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  margin: 5px;
  margin-bottom: 0px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  background-color: hsl(250,10%,55%);
  max-width: 1200px;
  min-width: 300px;

}

.section-title h1{
  border-style: solid;
  border-width: 5px;
  border-bottom: 0px;
  background-color: white;
  margin: 0px;
  padding: 10px;
}

.content-type {
  max-width: 1200px;
  min-width: 300px;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-style: solid;
    border-color: white;
    border-width: 0px 2px 2px 2px;
    background-color: #fff;
    max-width: 1200px;
    min-width: 300px;
    
  }

.flex {
  margin: 10px;
  max-width: 100%;
  max-width: 300px;
  max-height: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  position: relative;
}

.flex p{
  position: relative;
  background-color: white;
}

.date {
  position: absolute;
  display: flex;
  bottom: 0;
}

.date p{
  
  background-color: yellow;
}

.text {
  display: flex;
  flex-wrap: wrap;
  /*flex-direction: row;*/
  justify-content: flex-end; /* horizontal position */
  align-items: flex-end; /* vertical position */
  position: absolute;
  max-width: 100%;
  overflow: auto;
  width: 100%;
}

.text br{
  display: block;
  margin-bottom: -.4em;
}

.text h3{
  background-color: red;
  margin: 0px;
  padding: 0px;
}

.snippet {
  display: flex;
  flex-direction: row;
  justify-content: center-start; /* horizontal position */
  align-items: flex-end; /* vertical position */
  position: absolute;
}

.dummy{
  width: 100%;
  height: 5px;
}

.text p{
  overflow: hidden;
  background-color: yellow;
  margin: 0px;
  padding: 0px;
}

.flex img{
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
}

.item{
  object-fit: cover;
  display: block;
}

.bottom {
  left: ;
  background-image: url("dither_border.png");
  background-repeat: repeat-x;
  margin: 5px;
  margin-top: 0px;
  max-width: 1204px;
  min-width: 300px;
  min-height: 500px;
}

/* optional: alternately flips module layout 
.flex:nth-child(odd) {
  flex-direction: row-reverse;
}

.flex div:first-child {
  flex: 1;
  background-size: cover;
  background-position: center;
}
.flex:first-of-type div:first-child {
  background-image: url("white flag jasper johns.jpg");
}
.flex:last-of-type div:first-child {
  background-image: url("black dragon.jpg");
}
.flex div:last-child {
  margin: 2rem;
  flex: 2;
}*/
.test-header{
  max-width: 300px;
  max-height: 300px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*
.flex h3 {
  font-size: 1.5rem;
  margin-top: 0;
  font-weight: 400;
  max-width: 40%;
  display: block;

  max-width: 300px;
  max-height: 300px;
  display: block;
  position: absolute;
  top: 20%;
  left: 66%;
  transform: translate(20%, -50%);
}*/
/*
.flex p {
  background-color: #fff;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
  max-width: 40%;

}
.flex p:last-of-type {
  margin-bottom: 0;
}
.column {
  width: 80%;
  margin: 0 auto;
  max-width: 700px;
}
/*
@media all and (max-width: 600px) {
  body { margin: 0; }
  /* .flex div { flex: 1 !important; } optional: equalizes the visual "weight" of the photo and description*/
/*}
@media all and (max-width: 450px) {
  h2 {
    margin: 1rem;
  }
  .flex {
    border: 0;
    margin: 0;
    border-bottom: 2px solid #333;
  }
  .flex div:last-child {
    margin: 1rem;
  }
  .column {
    width: 100%;
  }
}
@media all and (max-width: 400px) {
  .flex { flex-direction: column; } 
  .flex div:first-child {
    min-height: 200px;
  }
}
*/